@media (min-width: 993px) {
  .main-picture {
    background: url(img/main_left.jpg);
    min-height: 550px;
  }
  section {
    margin: 0px 100px 0px 100px;
  }
  .end-40 {
    max-width: 40%;
  }
}

/* For medium screens (up to 992px wide) background picture, looking to the rigtt */
@media (max-width: 992px) {
  .main-picture {
    background: url(img/main_right.jpg);
    min-height: 500px;
  }

  /* Reduced height on medium screens */
  .parallax-container {
    height: 300px;
  }
  section {
    margin: 0px 50px 0px 50px;
  }
  .end-40 {
    max-width: 50%;
  }
}

/* Reduced height on small screens */
@media (max-width: 768px) {
  .main-picture {
    min-height: 450px;
  }
  .parallax-container {
    height: 200px;
  }
  section {
    margin: 0px 25px 0px 25px;
  }
  .end-40 {
    max-width: 70%;
  }
}

body {
  /* Path to image */
  background-image: url(img/back-ground.jpg);
  /* Scaling the image to fit the screen */
  background-size: cover;
  /* No image repetition */
  background-repeat: no-repeat;
  /* Background is fixed */
  background-attachment: fixed;
  /* Centering */
  background-position: center;
  /* font for text */
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* background picture, looking to the left */
nav {
  background-color: rgba(255, 255, 255, 0.5);
  background-repeat: no-repeat;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.main-picture {
  background-size: cover;
  background-position: center;
  margin: 0px;
}

.extra-bold {
  font-weight: 775;
  color: black;
}

.white-shadow {
  text-shadow: 3px 3px 8px hsl(0, 0%, 100%);
}

/* side panel size */
#slide-out.sidenav {
  background-color: rgba(178, 178, 178, 0.7);
  width: 160px;
}

/* side panel font-weight */
#slide-out.sidenav a {
  font-weight: 750;
}

.end-40 {
  display: flex;
  justify-content: flex-end;
  width: fit-content;
  margin-left: auto;
}

.responsive-img {
  transition: all 0.5s;
}

.responsive-img:hover {
  transform: scale(1.5);
  /* Setting a high z-index */
  z-index: 1;
}

.card-image img {
  transition: all 1s;
  /* Setting a high z-index */
  z-index: 1;
}

.card-image img:hover {
  transform: scale(1.2);
}

.quote {
  font-size: 1.5em;
  line-height: 1.4;
  font-style: italic;
  color: #555;
  position: relative;
  padding-left: 15px;
}

q::before {
  /* opening quote */
  content: "“";
  font-size: 2em;
  color: #838383;
  position: absolute;
  /* left offset */
  left: -3px;
  /* upward offset */
  top: -10px;
}

q::after {
  /* closing quote */
  content: "”";
  font-size: 2em;
  color: #838383;
  position: absolute;
  /* downward offset */
  bottom: -20px;
}

.author {
  /* right align */
  text-align: right;
  font-size: 1.2em;
  color: #777;
  margin-top: -25px;
}

.highlighted-title {
  /* Gradient background */
  background: linear-gradient(to right, #000000, #7c7c7c);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 2.5em;
  font-weight: bold;
  padding: 10px 0;
  /* Padding */
  display: inline-block;
}

.parallax-container {
  margin-top: 20px;
}

.custom-link {
  font-size: 1.5em;
  color: #000000;
  text-decoration: underline;
}

.card-movie .card-content {
  height: 120px;
  overflow: auto;
}

/* youtube-button */
card-action {
  display: flex;
  /* Placing the elements in the column */
  flex-direction: column;
  align-items: center;
}

.card-action button,
.card-action a {
  text-decoration: none;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  /* Margins between buttons */
  margin: 5px 0;
  /* Setting the width of the buttons */
  width: 100%;
  text-align: center;
  /* Smooth transition for background */
  transition: background-color 0.3s ease;
}

.card-action a {
  background-color: #686868;
  display: block;
}

.card-action button.custom {
  /* background for a customized button */
  background-color: #ff0000;
  font-size: 18px;
  /* Capital letters */
  text-transform: uppercase;
  border: 2px solid #1d9238;
  /* Shadow */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Changing the hover background for a customized button */
.card-action button.custom:hover {
  background-color: #218838;
}

/* Changing the hover background for a customized button */
.card-action a.custom:hover {
  background-color: #000000;
  color: #fefefe;
}

/* Modal window */
.modal {
  display: none;
  position: fixed;
  /* Setting a high z-index */
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #939393;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  /* Limiting the maximum width */
  max-width: 800px;
}

.close {
  color: #ffffff;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: rgb(255, 0, 0);
  text-decoration: none;
  cursor: pointer;
}

iframe {
  width: 100%;
  /* Setting the height for the iframe */
  height: 450px;
}

footer {
  margin-top: 30px;
}
